/* nav */
body {
    font-family: sans-serif;

}

.logo {
    line-height: 1.1;
    padding-left: 40px;
}

.logo .small-text {
    font-family: "Sedan SC", serif;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

.phdSmall {
    font-size: x-small;
}

.logo .large-text {
    font-family: "Sedan SC", serif;
    font-size: 32px;
    font-weight: 700;
    color: #05339C;

    /* red color like Pantami site */
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* end of logo */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #fff;
    /* border-bottom: 1px solid #eee; */
}


.navbar-nav {
    gap: 25px;
    /* space between menu items */
}

.nav-link {
    color: #1e2be0;
    /* Katsina green */
    font-weight: 500;
}

.nav-link:hover {
    color: #393E46;
    /* gold hover effect */
}

/* Hover dropdown only on large screens */
@media (min-width: 992px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        /* remove delay gap */
    }
}


@media (max-width: 768px) {
    .nav-link {
        padding: 6px 10px;
        /* reduce padding */
        font-size: 15px;
        /* make text slightly smaller */
    }

    .navbar-nav {
        gap: 10px;
        /* reduce space between items */
    }

    .navbar {
        padding-left: 10px;
        padding-right: 10px;
        /* reduce overall navbar padding */
    }
}

/* end of the Navber */

/* Hero Section */
.awards-hero {
    background: url('../image/edu.jpg') center/cover no-repeat;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.awards-hero .overlay {
    background: rgba(0, 0, 60, 0.6);
    padding: 60px;
    width: 100%;
    height: 250px;

}

.awards-hero h1 {
    font-size: 2.5rem;
    font-weight: bold;

}

/* image header */


.image-container {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    /* centers the box horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* hides overflow */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* fills the container perfectly */
    display: block;
}

/* Make responsive for small screens */
@media (max-width: 500px) {
    .image-container {
        width: 300px;
        height: 300px;
    }
}


/* Education Section*/

.education-section {
    background: #f8f8f8;
    padding: 60px 20px;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    text-align: center;
    color: #1e2be0;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
}


/* line in the midle */
.timeline {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #1e2be0;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    width: 45%;
}

.timeline-item .content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border-left: 6px solid #1e2be0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

/* box at left */
.timeline-item.left {
    left: 7%;
}

/* box at the right */
.timeline-item.right {
    left: 50%;
}

/* circle along the line */

.timeline-item::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #1e2be0;
    ;
    top: 25px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.right::before {
    left: -13px;
}

.icon {
    position: absolute;
    top: 15px;
    font-size: 22px;
    color: #006400;
}

.timeline-item.left .icon {
    right: -50px;
}

.timeline-item.right .icon {
    left: -50px;
}

h3 {
    color: #1e2be0;
    ;
    margin-bottom: 5px;
}

h4 {
    margin: 5px 0;
    font-weight: 600;
    color: #333;
}

p {
    margin: 0;
    color: #555;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .timeline::after {
        left: 31px;
    }

    .timeline-item {
        width: 95%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .timeline-item.right {
        left: 30px;
    }

    .timeline-item::before {
        left: 15px;
    }

    .icon {
        left: -7px;
    }

}

/* General footer styling */
.footer {
    background: #154666;
    color: #f1f1f1;
    padding: 60px 20px 20px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

/* Brand column */
.footer .brand h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 10px;
}


h2 span {
    color: #2780D9;
}

.footer .brand p {
    line-height: 1.6;
    color: #bbb;
}

.brand h2 {
    padding-bottom: 45px;

}

/* Social links */
.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    background: #2780D9;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 16px;
    transition: 0.3s;
}

.social-links a:hover {
    /* background: #7209b7; */
    background: #41BDF2;
}

.footer-col a:hover {
    color: #1e2be0;
}

/* Other columns */
.footer-col h3 {
    color: #fff;
    font-size: 17px;
    margin-bottom: 15px;
    position: relative;
}

.footer-col li {
    font-size: 15px;
}

.footer-col h3::after {
    content: '';
    width: 40px;
    height: 2px;
    background: #2780D9;
    position: absolute;
    bottom: -6px;
    left: 0;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #A4BCFF;
    text-decoration: underline;
}

/* Contact section */
.contact p {
    margin: 10px 0;
    color: #bbb;
}

.contact i {
    margin-right: 8px;
    color: #2780D9
}

/* Footer bottom */
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #222;
    padding-top: 15px;
    font-size: 14px;
    color: #aaa;
}